@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  font-family: 'Lexend Deca Variable', sans-serif;
}

/* Theme-Based Accent Colors */
[data-theme="default"] .text-accent {
  color: #646cff; /* Primary color for Default theme */
}

[data-theme="retro"] .text-accent {
  color: #E8B059;
}

[data-theme="cyberpunk"] .text-accent {
  color: #FF00FF;
}

[data-theme="valentine"] .text-accent {
  color: #FF69B4;
}

[data-theme="aqua"] .text-accent {
  color: #00FFFF;
}

/* Press Highlight Styles */
.bg-accent {
  background-color: accent; /* Uses the current text color */
}


/* Button State-Based Styles */
.btn[data-pressed="true"] .text-accent {
  /* Change icon color when pressed */
  color: #ffffff;
}